/* universal */
* {
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}
/* Header part  */
.header {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: 1080px;
}

.fast_section {
  /* background: rgba(255, 144, 14, 0.1); */
}
.topnav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topnav a {
  /* float: left; */
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav1 a {
  /* float: left; */
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Create a right-aligned (split) link inside the navigation bar */
.topnav a.spli {
  float: right;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-top: 50px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 200px;
  margin-top: 63px;
}
nav ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  margin-right: 20px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 862px;
  height: 425px;
  margin: 60px 220px 0px 220px;
}

.banner-text-title {
  font-weight: 700;
  font-size: 54px;
  text-align: center;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  text-align: center;
  margin-top: 20px;
}
.btn-primary {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
  width: 180px;
  height: 64px;
  border: none;
  margin-top: 33px;
}

.banner-img {
  display: flex;

  justify-content: center;
}
.banner {
  border-radius: 8px;
  width: 70%;
  height: auto;
}

/* Quick list */
.quick {
  display: flex;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 130px;
}
.quick-list-description {
  margin-left: 70px;
}
.quick-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-left: 300px;
}
.quick-list-img {
  height: 200px;
  width: 200px;
}
.quick-list-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-one {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
}

.list-two {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.list-three {
  font-weight: 700;
  font-size: 45px;
  color: #ff900e;
}

.list-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

/* Architects section */

.architects {
  display: flex;
  margin: 0 240px 130px;
  gap: 50px;
}

.section-two {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 400px;
}
.title-one {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.title-description {
  margin-top: 5px;
}

.architect-title-two {
  padding: 15px;
}
.architect-title-three {
  padding: 15px;
}
.architect-title-four {
  padding: 15px;
}
.architect-title-five {
  padding: 15px;
}
/* .dash {
  color: #ff900e;
  font-size: 80px;
  line-height: 30px;
  position: relative;
} */

.dash {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.architect-img {
  width: 620px;
  height: 700px;
}
.arc-img {
  width: 100%;
}

.Experience {
  background: #ff900e;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  text-align: center;
  width: 300px;
  height: 160px;
  padding: 30px;
  line-height: 0.6;
  position: absolute;
  bottom: -1799px;
  right: 494px;
}
.ex {
  font-weight: 500;
  font-size: 25px;
}

.arc-sub-title {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
}

.title-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.architect-title-two {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.architect-title-three {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.architect-title-four {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.architect-title-five {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

/* some facts */

.facts {
  margin-bottom: 150px;
}

.facts-detail {
  margin-left: 170px;
}
.facts-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 24px;
}
.facts-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 70px;
}
.box {
  width: 170px;
  height: 170px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 35px 15px 20px;
  transition: width 2s, height 2s, transform 2s;
  /* justify-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* transform: rotate(90deg); */
}

.box:hover {
  width: 200px;
  height: 200px;
  transform: rotate(90deg);
}

.facts-box {
  display: flex;
  gap: 70px;
  justify-content: center;
}
.number {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}

.some-detail {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

/* sponsor */

.sponsor-detail {
  text-align: center;
}

.sponsor-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.sponsor-para {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 50px;
}
.sponsor-img {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-content: center;
}
.sponsor-one img {
  filter: grayscale(100%);
  width: 135px;
  height: 40px;
}

/* extra section css */

.aside {
  background-color: white;
  width: 400px;
  justify-content: center;
  margin: 100px auto;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.related-author {
  font-size: 14px;
  font-weight: bold;
}
.related-post {
  list-style: none;
  padding: 0px 0px 50px 50px;
  line-height: 25px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #424242;
  text-decoration: none;
}

a:hover {
  color: red;
  font-weight: bolder;
  /* text-decoration: none; */
}
a:active {
  background-color: black;
  font-style: italic;
}

h2::after {
  content: "TOP";
  color: #000;
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  right: 244px;
  top: 3655px;
}

/* footer */

.foot {
  margin: auto;
  background: #fff4e7;
  border-radius: 8px;
  padding: 50px;
  margin-top: 130px;
  margin-bottom: 130px;
  width: 80%;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;

  color: #424242;
}

/* resposive */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }

  .nav-title {
    margin-left: 10px;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 425px;
    margin: 60px 220px 0px 0px;

    align-items: flex-start;
  }

  .quick {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;
    margin-bottom: 130px;
  }

  .quick-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin-left: 10px;
  }

  .quick-list-description {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .facts-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .sponsor-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-content: center;
  }

  .topnav a {
    /* float: left; */
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .topnav1 {
    /* float: left; */
    display: flex;
    flex-direction: column;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.spli {
    float: left;
    text-align: center;
  }
  .topnav {
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
  }
}
